#contact{
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 200px;
margin-right: 200px;

}

#email-section{
    padding-left: 20px;
    padding-right: 20px;

}

#email{

}

#github-section{
    padding-left: 20px;
    padding-right: 20px;
}

#github{
    
}

#linkedin-section{
    padding-left: 20px;
    padding-right: 20px;
}

#linkedin{
    
}

#contact-break{
    border: 1px solid #B87333;
    /* border-radius: 10px; */
    background-color: #B87333 ;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contact-break > p{
    margin: 3px;
}