#projects-break{
    border: 1px solid #B87333;
    /* border-radius: 10px; */
    background-color: #B87333 ;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#projects-break > p{
    margin: 3px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    

}

.project-arkham{
    border: 5px solid #B87333;
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.project-marine{
    border: 5px solid #B87333;
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.project-swhunt{
    border: 5px solid #B87333;
    border-radius: 10px;
    width: 33%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.project-img > img{
    border: 1px solid #B87333;
    border-radius: 10px;
}

.skills-tag{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.github-link{
    text-decoration: none;
}

.github-link-john{
    text-decoration: none;
}
a:link {
    color: #B87333;
  }

  a:visited {
    color: purple;
  }
  
  a:hover {
    color: #b89778;
  }
  
  a:active {
    color: #67411e;
  }