#skills-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-right:5%;
}

#frontend-skills {
    padding: 20px;
    
}

#frontend-skills> ul > p{
    font-weight: bold;
    
}

#frontend-skills>ul {
    list-style: none;

}

#backend-skills {
    padding: 20px
}

#backend-skills> ul >p{
    font-weight: bold;
}

#backend-skills>ul {
    list-style: none;
}

#other-skills {
    padding: 20px
}

#other-skills>ul >p{
    font-weight: bold;
}

#other-skills>ul {
    list-style: none;
}

#skills-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#skills-break {
    border: 1px solid #B87333;
    /* border-radius: 10px; */
    background-color: #B87333;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#skills-break>p {
    margin: 3px;
}

#skills-dash {
    margin-top: 3px;
}

#skills-dash>p {
    color: #B87333;
    font-size: 26px;
}